$base-font-family: 'Apercu Pro', sans-serif;
$IconsFont: 'TScomUIicons';

$color-white: #ffffff;
$color-grey3e: #eeeeee;
$color-greylight: #c2c2c2;
$color-grey69: #696969;
$color-grey333: #333333;
$color-bluestar: #5bc2e7;
$color-blueelectric: #0071b3;
$color-bluenight: #00367d;
$color-bluetransat: #002855;
$color-greenlight: #4fc800;
$color-greenaa: #317b00;

$color-redlight: #fddddd;
$color-red: #c50000;

// Dimensions
$max-page-container-width: 1320px; // px - screen dimension related
$min-container-width: 80rem;
$input-font-size: 1.65rem;
$active-label-font-size: 1.1rem;
$ui-effect-height: .3rem;
$flight-section-width--wide-screen: 33%;

// Input devices
$keyboard-device: ts-keyboard-navigation;
